@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    scroll-behavior: smooth;
}

body{
    background-image: url("../static/img/por_do_sol2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: 'Poppins';
}

section.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.738);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
}

section.modal div#card{
    width: 28rem;
    height: 18rem;
    position: relative;
    background-color: aliceblue;
    border-radius: 5%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

section.modal div#card a#fechar{
    position: absolute;
    right: 2%;
    top: 1%;
    width: 5%;
    font-size: large;
    font-family: 'Poppins';
    text-decoration: none;
    color: rgb(0, 42, 255);
    border-radius: 10%;
    display: flex;
    justify-content: center;
}

section.modal div#card a#fechar:hover{
    position: absolute;
    right: 2%;
    top: 1%;
    font-size: x-large;
    font-family: 'Poppins';
    text-decoration: none;
    background-color: red;
    color: white;
}

section.modal div#card hr{
    width: 90%;
    margin: 0 auto;
}

section.modal div#card p{
    font-size: large;
    font-family: 'Poppins';
}

section.modal div#card div#botoes{
    position: absolute;
    bottom: 2%;
    right: 2%;
    display: flex;
    padding: 2rem 2rem 2rem 2rem;
    text-decoration: none;
}

section.modal div#card div#botoes a{
    text-decoration: none;
    padding: 3%;
    border: solid;
    border-radius: 10%;
}

section.modal div#card div#botoes a#confirmar{
    background-color: aliceblue;
    border-color: black;
    color: black;
}
section.modal div#card div#botoes a#confirmar:hover{
    background-color: black;
    border-color: black;
    color: white;
}

section.modal div#card div#botoes a#cancelar{
    background-color: white;
    border-color: red;
    color: black;
}

section.modal div#card div#botoes a#cancelar:hover{
    background-color: red;
    border-color: red;
    color: white;
}


/*tiutlo*/
.cadastrar_usuario{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15%;
}

.cadastrar{
    border: solid;
    border-radius: 15px;
    padding: 2%;
    box-shadow: 3px 3px 1px 0px #00000070;
    background-color: aliceblue;
    width: 25%;
}

h3{
    text-align: center;
}

.formulario{
    position: relative;
    padding-top: 15%;
}

.formulario input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: none;
    border-bottom: 2px solid rgb(73, 73, 73);
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: .3s ease-out;
}

.formulario label{
    position: absolute;
    color: rgb(73, 73, 73);
    pointer-events: none;
    top: 40%;
    left: 0;
    margin-top: 16px;
    transition: .3s ease-out;
}

.formulario input:focus + label {
    top: 5px;
    left: 0;
    font-size: 10px;
    margin-top: 0;
    color: black;
}

.submit{
    margin-top: 5%;
    margin-bottom: 5%;
}

input[type="submit"]{
    background-color: rgb(89, 255, 43);
    padding:1%;
    border: solid 1px black;
    border-radius: 8px;
    box-shadow: 3px 3px 1px 0px #00000070;
}

#ver_senha{
    position: absolute;
    right: 0;
    top: 35%;
    opacity: 75%;
    border: none;
}

#ver_senha_confirmar{
    position: absolute;
    right: 0;
    top: 35%;
    opacity: 75%;
    border: none;
}


/*usuarios*/
div#tabela_usuarios{
    display: flex;
    justify-content: space-evenly;
}

div#tabela_usuarios section#usuarios{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255,255,255,0.7);
    border: solid;
    border-radius: 15px;
    width: 50%;
}

div#tabela_usuarios section#usuario table#tabela{
    border-radius: 10%;
}

.atualizar{
    text-decoration: none;
    color: black;
    border: solid 2px;
    border-radius: 8px;
    padding: 2px;
}
.atualizar:hover{
    border: solid rgb(19, 73, 221) 2px;
    border-radius: 8px;
    background-color: rgb(19, 73, 221);
    color: white;
    padding: 2px;
}

.deletar{
    text-decoration: none;
    color: black;
    border: solid 2px;
    border-radius: 8px;
    padding: 2px;
}

.deletar:hover{
    text-decoration: none;
    color: white;
    border: solid rgb(255, 34, 34) 2px;
    border-radius: 8px;
    background-color: rgb(255, 34, 34);
    padding: 2px;
}

/*nav bar*/
.header{
    display: flex;
    background-color: black;
    padding: 1%;
    justify-content: flex-end;
    font-family: 'Poppins';
}

.nav{
    width: 15%;
}

.logout{
    color: #FFFFFF;
    text-decoration: none;
    border: white solid 2px;
    border-radius: 10px;
    padding: 1%;
}
.logout:hover{
    color: white;
    background-color: red;
    text-decoration: none;
    border: red solid;
    border-radius: 10px;
}

.historico{
    color: #FFFFFF;
    text-decoration: none;
    border: #FFFFFF solid 2px;
    border-radius: 10px;
    padding: 1%;
}

.historico:hover{
    color: white;
    background-color: rgb(7, 173, 40);
    text-decoration: none;
    border: rgb(7, 173, 40) solid;
    border-radius: 10px;
}

