/*====================== GOOGLE FONTS ===================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: 'Poppins';
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.header{
    display: flex;
    background-color: black;
    padding: 1%;
    justify-content: flex-end;
}

.nav{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.logout{
    color: #FFFFFF;
    text-decoration: none;
    border: white solid 2px;
    border-radius: 10px;
    padding: 1%;
}
.logout:hover{
    color: white;
    background-color: red;
    text-decoration: none;
    border: red solid;
    border-radius: 10px;
}

.pagina_usuarios{
    color: #FFFFFF;
    text-decoration: none;
    border: #FFFFFF solid 2px;
    border-radius: 10px;
    padding: 1%;
}

.pagina_usuarios:hover{
    color: white;
    background-color: rgb(7, 173, 40);
    text-decoration: none;
    border: rgb(7, 173, 40) solid;
    border-radius: 10px;
}


.tabela{
    border: solid 1px;
    border-radius: 5px;
    text-align: center; 
    padding: 1px;
    width: 90%;
}

.id_usuario{
    border: solid 1px;
    border-radius: 5px;
    text-align: center; 
    padding: 1px;
    width: 0.5%;
}

.info_usuario{
    border: solid 1px;
    border-radius: 5px;
    text-align: center; 
    padding: 1px;
    width: 5%;
}

.historico_geral{
    display: flex;
    justify-content: center;
    padding: 5%;
}


.visualizar{
    background-color: rgb(81, 81, 236);
    color: white;
    text-decoration: none;
    border: solid 2px black;
    border-radius: 10px;
    padding: 1%;
}

.visualizar:hover{
    color: black;
    text-decoration: none;
    border: solid 2px rgb(81, 81, 236);
    border-radius: 10px;
    padding: 1%;
}