@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins';
}

/*nav bar*/
.header{
    display: flex;
    background-color: black;
    padding: 1%;
    justify-content: flex-end;
    font-family: 'Poppins';
}

.nav{
    width: 15%;
}

.logout{
    color: #FFFFFF;
    text-decoration: none;
    border: white solid 2px;
    border-radius: 10px;
    padding: 1%;
}
.logout:hover{
    color: white;
    background-color: red;
    text-decoration: none;
    border: red solid;
    border-radius: 10px;
}

.algoritmo{
    color: #FFFFFF;
    text-decoration: none;
    border: #FFFFFF solid 2px;
    border-radius: 10px;
    padding: 1%;
}

.algoritmo:hover{
    color: white;
    background-color: rgb(7, 173, 40);
    text-decoration: none;
    border: rgb(7, 173, 40) solid;
    border-radius: 10px;
}